[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Comment=C/C++ IDE for ICPC
Exec=/opt/jetbrains/clion-{{ clion_version }}/bin/clion.sh
Icon=/opt/jetbrains/clion-{{ clion_version }}/bin/clion.svg
Terminal=false
StartupWMClass=jetbrains-clion
Categories=Development;IDE;
StartupNotify=true