[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community
Comment=Java IDE for ICPC
Exec=/opt/jetbrains/idea-{{ intellij_version }}/bin/idea.sh
Icon=/opt/jetbrains/idea-{{ intellij_version }}/bin/idea.png
Terminal=false
StartupWMClass=jetbrains-idea-ce
Categories=Development;IDE;
StartupNotify=true