<application>
  <component name="ProjectManager">
    <defaultProject>
      <component name="GradleSettings">
        <option name="linkedExternalProjectsSettings">
          <GradleProjectSettings>
            <option name="distributionType" value="LOCAL" />
            <option name="gradleHome" value="/opt/gradle/gradle-8.14.3" />
            <option name="gradleJvm" value="#JAVA_HOME" />
            <option name="resolveModulePerSourceSet" value="false" />
          </GradleProjectSettings>
        </option>
      </component>
    </defaultProject>
  </component>
</application>
