[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community
Comment=Python IDE for ICPC
Exec=/opt/jetbrains/pycharm-{{ pycharm_version }}/bin/pycharm.sh
Icon=/opt/jetbrains/pycharm-{{ pycharm_version }}/bin/pycharm.png
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
Categories=Development;IDE;
StartupNotify=true