---
# Add G++ 13 repository for ICPC 2025 compliance
- name: add gcc-13 repository
  apt_repository:
    repo: ppa:ubuntu-toolchain-r/test
    state: present
    update_cache: yes

- name: cpp
  apt:
    state: present
    pkg:
      - g++-13
      - g++  # Keep default g++ for compatibility
      - stl-manual      # 2.5mb
      - unzip # for dealing with docs

- name: set g++-13 as default
  alternatives:
    name: g++
    path: /usr/bin/g++-13
    link: /usr/bin/g++
    priority: 100

# From https://en.cppreference.com/w/Cppreference:Archives
- name: create directories
  file:
    state: directory
    path: "{{ item }}"
  with_items:
    - /opt/cpp-docs
    - /opt/libc-manual

- name: cpp reference docs 
  command: curl -o /opt/cpp-docs/tutorial.pdf https://cplusplus.com/files/tutorial.pdf

- name: libc reference docs
  unarchive:
    src: https://snapshots.sourceware.org/glibc/trunk/latest/manual/libc-html_node.tar.xz
    dest: /opt/libc-manual
    remote_src: true # to get it to download from the internet

- name: register docs
  block:
    - ansible.utils.update_fact:
        updates:
          - path: "lang_docs['C++']"
            value:
              name: STL Manual
              id: stl_docs
              path: /usr/share/doc/stl-manual/html
              index: index.html
          - path: "lang_docs['glibc manual']"
            value:
              name: GNU c library (glibc) manual
              id: libc_manual
              path: /opt/libc-manual/libc
              index: index.html
      register: updated
    - set_fact:
        lang_docs: "{{ updated.lang_docs }}"    
    


