---
- name: install unzip so we can extract kotlin
  apt:
    pkg: unzip
    state: present

- name: Download Kotlin compiler
  get_url:
    url: https://github.com/JetBrains/kotlin/releases/download/v2.2.0/kotlin-compiler-2.2.0.zip
    dest: /tmp/kotlin-compiler-2.2.0.zip
    mode: '0644'

- name: Install Kotlin
  unarchive:
    src: /tmp/kotlin-compiler-2.2.0.zip
    dest: /opt
    remote_src: yes
    
- name: create symlinks for kotlin
  file:
    src: /opt/kotlinc/bin/{{ binary_name }}
    dest: /usr/local/bin/{{ binary_name }}
    state: link
  loop_control:
    loop_var: binary_name
  with_items:
    - kapt
    - kotlin
    - kotlinc
    - kotlinc-js
    - kotlinc-jvm

# kotlin pdf doc (single file)
- name: create directory for kotlin docs
  file:
    state: directory
    mode: 0755
    path: /opt/kotlin-docs

- name: fetch kotlin pdf
  get_url:
    url: https://kotlinlang.org/docs/kotlin-reference.pdf
    dest: /opt/kotlin-docs/kotlin-reference.pdf
    mode: 0644


- name: register docs
  block:
    - ansible.utils.update_fact:
        updates:
          - path: "lang_docs['Kotlin']"
            value:
              name: Kotlin PDF
              id: kotlin
              path: /opt/kotlin-docs
              index: kotlin-reference.pdf
      register: updated
    - set_fact:
        lang_docs: "{{ updated.lang_docs }}"
