- name: Ensure DesktopTemplates directory exists
  file:
    path: /root/DesktopTemplates
    state: directory
    mode: '0755'

- name: Create desktop shortcut templates
  copy:
    dest: "/root/DesktopTemplates/{{ item.name }}.desktop"
    mode: '0755'
    content: |
      [Desktop Entry]
      Name={{ item.name }}
      Exec={{ item.exec }}
      Icon={{ item.icon }}
      Type=Application
      Terminal=false
  loop:
    - { name: 'VS Code', exec: 'code --new-window %F', icon: 'code' }
    - { name: 'Firefox', exec: 'firefox %u', icon: 'firefox' }
    - { name: 'Guide', exec: 'firefox /htmlfile/documentHtml/index.html', icon: 'firefox' }
    - { name: 'CLion', comment: 'C/C++ IDE for ICPC', exec: '/opt/jetbrains/clion-{{ clion_version }}/bin/clion.sh', icon: '/opt/jetbrains/clion-{{ clion_version }}/bin/clion.svg' }
    - { name: 'IntelliJ IDEA', comment: 'Java IDE for ICPC', exec: '/opt/jetbrains/idea-{{ intellij_version }}/bin/idea.sh', icon: '/opt/jetbrains/idea-{{ intellij_version }}/bin/idea.png' }
    - { name: 'PyCharm', comment: 'Python IDE for ICPC', exec: '/opt/jetbrains/pycharm-{{ pycharm_version }}/bin/pycharm.sh', icon: '/opt/jetbrains/pycharm-{{ pycharm_version }}/bin/pycharm.png' }


